/* Inter Font - Light */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/inter-v20-latin-300.woff2") format("woff2");
}

/* Inter Font - Regular */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/inter-v20-latin-regular.woff2") format("woff2");
}

/* Inter Font - Medium */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/inter-v20-latin-500.woff2") format("woff2");
}

/* Inter Font - SemiBold */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/inter-v20-latin-600.woff2") format("woff2");
}

/* Inter Font - Bold */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/inter-v20-latin-700.woff2") format("woff2");
}
